<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>¿Quienes Somos?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nosotros</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="parrafo">Somos un equipo de estudiantes del DuocUc,
         los cuales hemos comenzado a desarrollar nuestro proyecto de aplicaciones moviles y poder satisfacer las demandas del mercado de hoy en dia ademas de facilitar actividades de la vida cotidiana con soluciones informaticas en este caso con una App Movil.
      </p>
      <img src="assets/nosotros.png">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nuestra App</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <p class="parrafo">Nuestra Aplicacion llamada "RegistrApp" es una app movil enfocada en asister a los docentes del DuocUc ayudandoles a mantener un registro de asistencia automatizado, en el cual atravez de un codigo QR el estudiante quedara como presente en la clase
        ya que este QR se los otorgara el profesor en la misma clase, asi sin tener que pasar lista de manera oral.
      </p>
      <img src="assets/nuestraApp.png">
    </ion-card-content>
  </ion-card>

</ion-content>
